<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="th-fragments :: head" />
    <title>Programmer Fox Club</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <ul>
                    <li><a href="/information">Information</a></li>
                </ul>
            </div>
            <div>
                <div th:object="${pet}">
                    <img src="greenfox.png" />
                    <p th:text="${pet.getSummary()}"></p>
                    <h1>Known tricks</h1>
                    <ul>
                        <li>write HTML</li>
                        <li>code in Java</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>