<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="th-fragments :: head" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div th:include="th-fragments :: nav">
            </div>
            <div>
                <div th:object="${pet}">
                    <img src="greenfox.png" />
                    <p th:text="${pet.getSummary()}"></p>
                    <h1>Known tricks</h1>
                    <div th:if="${pet.countTricks() == 0}">
                        <p>You don't know any tricks yet.<br/>Go learn some.</p>
                    </div>
                    <ul th:if="${pet.countTricks() > 0}">
                        <li th:each="trick : ${pet.getTricks()}" th:text="${trick.getDescription()}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>